.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(0,0,0,1);
    width: 50%;
    margin-left: 25%;
    border-radius: 20%;
}

.btn {
    color: #2E1760;
    border: 1px solid #2E1760;
}

.btn:hover {
    background-color: #2E1760;
    border: 1px solid #DFF3E4;
}

.btn:focus {
    background-color: #DFF3E4;
}

body {
    font-family: Helvetica, sans-serif;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 50%;
    height: auto;
    margin-top: 3%;
}