---
layout: default.njk
---
<section>
    <h1>Welcome!</h1>

    <p>This blog exists to document my journey in learning web design fundamentals such as HTML, CSS, Javascript and other concepts such as the use of frameworks, source control using Git, and form processing. Navigate to the posts section above to view my progress!
    </p>

    <div class="logos">
        <img src="images/HTML5.png" id="html-logo">
        <img src="images/CSS.png" id="css-logo">
        <img src="images/javascript.png" id="javascript-logo">
    </div>


</section>
