---
layout: default.njk
---
<h1>Intro to Javascript - Programming Concepts</h1>
<p>This session served as an introduction to basic Javascript syntax and methods, such as the ability to print messages with console.log(), alert(), and document.write(), as well as how to link an external .js file to an HTML file within the head tag. The declaration of variables using either var, let or const and the advantages of using each was also covered, as well as the use of addition, subtraction, multiplication and division operators used to concatenate variables.</p>

<h2>Tip Program</h2>
<br>
<h3>Task</h3>
<code style="background-color: white; border: 1px solid black; color: black;">1. We’ll make a program to calculate a tip<br>
<br>
a) Create variables for the pre-tip total and the tip percentage<br>
b) Calculate the new total<br>
c) Output a sentence to the page - something like:<br>
d) Your total bill, with tip, is £35.45<br>
<br>
BONUS POINTS:<br>
<br>
Use toFixed() to round the output to 2 decimal places<br>
Display the tip amount in the output as well<br>
<br>
2. Extend the Tip program<br>
<br>
a) Create variables for the pre-tip total and the tip percentage<br>
b) Calculate the new total<br>
c) Output a sentence to the page - something like:<br>
   “Your total bill, with tip, is £35.45”<br>
<br>
Extension: round the figure to 2 DP and display the tip amount.<br>
</code>

<h3>Code</h3>

<code>var preTipTotal = 25.90;<br>
var tipPercentage = 0.15;<br>
var totalWithTip = (preTipTotal + (preTipTotal * tipPercentage));<br>
var tipAmount = (preTipTotal * tipPercentage);<br>
<br>
document.write("Your total bill, with tip, is £", totalWithTip.toFixed(2) + "br")<br>
document.write("Tip amount: £", tipAmount.toFixed(2))
</code>

<h3>Output</h3>

<code style="background-color: white; border: 1px solid black; color: black; padding-bottom: 5%;">Your total bill, with tip, is £29.78<br>
Tip amount: £3.88</code>

